@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  line-height: 35px;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
  margin: auto;
  padding: 3% 0 0 1%;
}

.logo {
  margin: auto;
  width: 10%;
}

img {
  width: 35%;
  padding: 2% 0;
}

p {
  font-size: 2rem;
}

span {
  font-weight: 700;
}

.notified {
  font-size: 15px;
}

form {
    padding-top: 1%;
}

input {
    padding: 1% 1%;
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 20px;
    opacity: 70%;
    width: 300px;
    outline: 0;
}

#result {
    font-size: 11px;
    text-align: right;
    margin-right: 25%;
    padding: 0;
}
button {
    padding: 1% 3%;
    margin-left: 1%;
    color: white;
    background-color: hsl(223, 87%, 63%);
    border: 0;
    border-radius: 20px;
    outline: 0;
    cursor: pointer;
}

button:hover {
    background-color: hsl(223, 100%, 88%);
}

.icons {
    padding-bottom: 5px;
}

.icons a {
    color: hsl(223, 87%, 63%);
    letter-spacing: 5px;
    text-align: center;
}

.copyright {
    font-size: 15px;
    color: hsl(209, 33%, 12%);
}

a {
    text-decoration: none;
    color: hsl(223, 100%, 88%);
    cursor: pointer;
}

a:hover {
    color: hsl(354, 100%, 66%);
}

footer {
    line-height: 25px;
}

.attribution {
    padding: 3px 0;
  font-size: 15px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 600px) {
    body {
        width: 100%;
        height: 100vh;
        display: flex;
        line-height: 35px;
        padding: 0 5%;
    }

    p {
        font-size: 1.5rem;
    }

    .logo {
        width: 30%;
    }

    input {
        padding: 10px;
        width: 100%;
    }

    button {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    }

    img {
        padding: 5% 0;
        width: 100%;
    }

    .icons a {
        font-size: 25px;
    }

    .copyright {
        padding: 10px 0;
    }
}